@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {

  --body-font : "Montserrat", sans-serif;
  --font-color : rgb(222, 221, 201);
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;

  font-family: var(--body-font);
  color: var(--font-color);
  overflow: hidden;
}

/*.photo-finlande{
   background-image: url("../assets/4_PHOTOGRAPHY/FINLAND/14.png");
}*/

.photo-senegal {
   background-image: url("../assets/4_PHOTOGRAPHY/argentique/Sénégal/100779870001.jpg"); 
   background-size: cover;       
   background-position: center;   
   background-repeat: no-repeat;

}
header {

    height: fit-content;
    display: flex;
    position: relative;
 }

 .icone-retour a {
    display: flex;
    justify-content: center;
    margin-left: 1rem;
    margin-top: 1rem;
    width: 48px;
    height: 48px;
 }

 .icone-retour > img {
    display: block;
    width: 100%;
    height: 100%;
 }

 .description {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 2rem;
   letter-spacing: 3px;
 }

.description-senegal {
  color: rgb(135, 206, 235);
}



.swiper {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
}



.swiper-slide {
  width: 100%;
  height: 100%;
  position: relative;
   display: flex;
  align-items: center;
  justify-content: center;
}
 


.swiper-slide > img {
  width: 850px;
  height: 600px;
 
  
   object-fit: cover;
  display: block; /* au lieu de flex */
  margin: 0 auto; /* centre horizontalement si nécessaire */
}


.lefted {
   position: absolute;
   left: 2%;
   margin: auto;

}

.righted {

   position: absolute;
   right: 2%;
   margin: auto;
}


footer {
   font-size: 1.3rem;
   color: blue;
   display: flex;
   flex-direction: row;
   gap: 20px;
   overflow: hidden;
   position: fixed;
   bottom: 0%;
}

footer .scrolling-content {
   display: flex;
   white-space: nowrap;
   animation: scroll-left 12s linear infinite;
}

footer .scrolling-content > * {
   display: inline-block;
   padding-right: 2rem;
}

@keyframes scroll-left {
   0% {
      transform: translateX(0);
   }
   100% {
      transform: translateX(-100%);
      transform: translateX(-50%);
   }
}


/*Ecran bigo*/

@media screen and (max-width:650px){
    
 header {

    height: fit-content;
    display: flex;
    position: relative;
 }

 .icone-retour a {
    display: flex;
    justify-content: center;
    margin-left: 1rem;
    margin-top: 1rem;
    width: 28px;
    height: 28px;
 }

 .icone-retour > img {
    display: block;
    width: 100%;
    height: 100%;
 }

 
 .description {
    margin-left: 0.5rem;
    font-size: 1.2rem;
    letter-spacing: 2px;
    text-align: center;
 }

.swiper {
   margin-top: 10vw;
}

 .swiper-slide > img {
   width: auto;
   height: 30vh;
   object-fit: cover;
 }

 .lefted {
   left: 3%;
 }

 .righted {
   right: 3%;
 }

 footer {
   font-size: 1rem;
   gap: 0px;
   bottom: 5%;
 }

 footer .scrolling-content > * {
   display: inline-block;
   padding-right: 1rem;
}


}